.h1 {
    text-align: center;
}
.formContainer{
    
    display:flex;
    justify-content:center;
}

.uiForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    

}

.formField {
    display:flex;
    flex-direction: column;
    width:80%;
}

.formField input{
    border: 1px solid gray;
    padding :20px;
    border-radius :5px;
    font-size:15px
}

.formField input:focus{
    outline: none;
    
}